---
import Counter from "@components/counter.vue";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="flex grow flex-col items-center">
    <h1 class="text-white/80">Hello world!</h1>
    <Counter client:load />
  </div>
</Layout>

<style></style>
